.cls{
    font-weight: bold
}
.btn{
    background-color: orange;
        width: 525px;
        height: 35px;
        border-radius: 20px;
        font-weight: bold;
}
.in{
    width: 525px;
    height: 30px;
}

.delbtn{
    border-radius: 20px;
        background-color: red;
        font-weight: bold;
        margin-left: 10px;
        margin-bottom: 2px;
}